/ Converted to Slim from Google Analytics' Global site tag (gtag.js)
script async src="https://www.googletagmanager.com/gtag/js?id=UA-124614028-1"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-124614028-1');
