form.search-form action="/_search" method="get"
  input.search-field.autocomplete type="text" name="q" value="#{params[:q]}" placeholder="Search" autocomplete='off'
  input type="submit" value="Search" style='display:none'
