.search-form {
  margin-top: 4px;
}

.search-field {
  outline: none;
  padding: 8px 12px;
  font-size: 1.25em;
  width: 50%;
  min-width: 200px;
  width: 100%;

  // border: transparent 1px solid;
  border: lighten(#4078c0, 45%) 1px solid;
  border-radius: 3px;

  transition: border-color .3s, background-position 0.3s;
  background: url("../img/search.png") right center no-repeat;

  &:focus {
    border-color: #4078c0;
    background-position: 130%;
    transition: border-color .3s, background-position 0.3s;
  }

  &:hover:not(:focus) {
    border-color: lighten(#4078c0, 30%);
    transition: border-color .3s;
  }  
}
